
.footer{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(43, 43, 43);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.contenedor{
    position: relative;
    min-height: 100vh;
}
.platos{
    height:200px;
    width:250px;
    padding:10px;
    border-radius: 15%;
}
.contenedorImgPlato{
    display:flex;
    justify-content: space-between;
}
.contenedorTexto{
    display: flex;
    justify-content: space-around; 
    padding-left: 3%; 
    background-color: rgb(228, 225, 225); 
    align-items: center;
    padding-right: 3%;
    padding-top:1%;
    padding-bottom: 1%;
    color: black;
}
.texto{
    margin-right:5%;
    font-size:1.5em
}
.sobreNosotros{
    display:flex;
    justify-content:center;
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top:2%
}
.centrar{
    display:flex;
    justify-content: center;
}
.textoPlatos{
    font-size:3em;
    text-decoration: underline black;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.parrafoNosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boton{
    padding:10px;
    background: #6cab3b;
    border: none;
    border-radius:20px;
    cursor: pointer;
}
.contenedor2{
    display: flex;
    justify-content: space-around; 
    padding-left: 15%; 
    align-items: center;
    padding-right: 15%;
    padding-top:1%;
    padding-bottom: 1%;
}
.contenedorVideos{
    display:flex;
    justify-content: space-between;
}
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0px;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .imagen{
    max-height: 80px;
}

.fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #0A38F5;
  }
  .dark-pink-text {
    color: #AC003A;
  }
  .dark-amber-text {
    color: #ff6f00;
  }
  .dark-teal-text {
    color: #004d40;
  }
.btn{
    background-color: #6cab3b;
}